.tutor-detail-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tutor-info {
  margin-top: 2rem;
  text-align: center;
}

.tutor-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.right-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.availability-card,
.feedback-form,
.feedback-comments {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  width: 80%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 2rem;
}

.availability-card h2,
.feedback-form h2,
.feedback-comments h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.feedback-comments {
  width: 100%;
}

.feedback-comments .comment {
  margin-bottom: 1rem;
  text-align: left;
}

.feedback-comments .comment .stars {
  display: inline-block;
  color: gold;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--color-bg2);
  border-radius: 5px;
  background: var(--color-bg1);
  color: var(--color-white);
}

.feedback-form textarea {
  resize: vertical;
}

.btn {
  display: block;
  background: var(--color-danger);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  width: 100%;
  text-align: center;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: var(--color-danger-varient);
}

/* Media Queries */
@media (max-width: 768px) {
  .tutor-detail-page {
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    width: 100%;
    align-items: center;
  }

  .profile-image {
    margin-bottom: 42px;
  }

  .right-section {
    width: 100%;
  }
}
